In [4]:
import firebase_admin
from firebase_admin import credentials

# cred = credentials.Certificate("workshop1-60a05-firebase-adminsdk-egq5y-bda0fb5ee1.json")
# firebase_admin.initialize_app(cred)

In [3]:
# pip install firebase_admin

In [6]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore

# Use a service account
cred = credentials.Certificate('workshop1-60a05-firebase-adminsdk-egq5y-bda0fb5ee1 (1).json')
firebase_admin.initialize_app(cred)

In [7]:
db = firestore.client()

In [8]:
import pandas as pd

In [ ]:
# result = pd.DataFrame(db.collection('players').document('location').get().to_dict())

In [12]:
result = pd.DataFrame(db.collection('players').get())

In [16]:
db.collection('players')

In [9]:
docs = db.collection('lifeExpectancy').get()
data = []
for doc in docs:
    data.append(doc.to_dict())
df = pd.DataFrame(data)
# df = df.T
# df.columns = [str(doc.id)]

In [10]:
df

,Period,Indicator,﻿Location,Dim1,First Tooltip
0,2015,Healthy life expectancy (HALE) at birth (years),Paraguay,Female,67.08
1,2015,Healthy life expectancy (HALE) at birth (years),Iraq,Both sexes,60.8
2,2019,Healthy life expectancy (HALE) at birth (years),Kiribati,Both sexes,52.62
3,2000,Healthy life expectancy (HALE) at birth (years),United Kingdom of Great Britain and Northern I...,Both sexes,67.57
4,2019,Healthy life expectancy (HALE) at birth (years),Poland,Male,65.94
...,...,...,...,...,...
2191,2015,Healthy life expectancy (HALE) at birth (years),Iran (Islamic Republic of),Male,65.31
2192,2000,Healthy life expectancy (HALE) at birth (years),Iran (Islamic Republic of),Female,63.12
2193,2010,Healthy life expectancy (HALE) at birth (years),Antigua and Barbuda,Female,68.09
2194,2010,Healthy life expectancy (HALE) at birth (years),Costa Rica,Female,70.55
2195,2010,Healthy life expectancy (HALE) at birth (years),Serbia,Male,63.97

In [35]:
docs = db.collection('lifeExpectancy').get()
data = []
for doc in docs:
    data.append(doc.to_dict())
df = pd.DataFrame(data)
df = df.T
df.columns = [str(doc.id)]

ValueError: Length mismatch: Expected axis has 2196 elements, new values have 1 elements

In [29]:
df

      location
Kim         12
Jim         22
Tyler        3

In [30]:
df.to_dict()

{'location': {'Kim': 12, 'Jim': 22, 'Tyler': '3'}}

In [30]:
file_list = os.listdir(f'csvs')
collections = []
for file in file_list:
    file_path = f"csvs/{file}"
    collection_name = f"{file}".split('.csv')[0]
    collections.append(collection_name)

In [32]:
collections[]

'under5MortalityRate'

In [54]:
collections[:1]

['lifeExpectancyAtBirth']

In [20]:
store = db

In [21]:
import csv
import google.cloud

In [22]:
import os

In [51]:
file_list = os.listdir(f'csvs')
file_list = file_list[10:]
for file in file_list:
    file_path = f"csvs/{file}"
    collection_name = f"{file}".split('.csv')[0]


    def batch_data(iterable, n=1):
        l = len(iterable)
        for ndx in range(0, l, n):
            yield iterable[ndx:min(ndx + n, l)]


    data = []
    headers = []
    with open(file_path) as csv_file:
        csv_reader = csv.reader(csv_file, delimiter=',')
        line_count = 0
        for row in csv_reader:
            if line_count == 0:
                for header in row:
                    headers.append(header)
                line_count += 1
            else:
                obj = {}
                for idx, item in enumerate(row):
                    obj[headers[idx]] = item
                data.append(obj)
                line_count += 1
        print(f'Processed {line_count} lines.')

    for batched_data in batch_data(data, 499):
        batch = store.batch()
        for data_item in batched_data:
            doc_ref = store.collection(collection_name).document()
            batch.set(doc_ref, data_item)
        batch.commit()

print('Done')

Processed 1894 lines.

ResourceExhausted: 429 Quota exceeded.

In [34]:
file_path = "HALElifeExpectancyAtBirth.csv"
collection_name = "lifeExpectancy"


def batch_data(iterable, n=1):
    l = len(iterable)
    for ndx in range(0, l, n):
        yield iterable[ndx:min(ndx + n, l)]


data = []
headers = []
with open(file_path) as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            for header in row:
                headers.append(header)
            line_count += 1
        else:
            obj = {}
            for idx, item in enumerate(row):
                obj[headers[idx]] = item
            data.append(obj)
            line_count += 1
    print(f'Processed {line_count} lines.')

for batched_data in batch_data(data, 499):
    batch = store.batch()
    for data_item in batched_data:
        doc_ref = store.collection(collection_name).document()
        batch.set(doc_ref, data_item)
    batch.commit()

print('Done')

Processed 2197 lines.
Done

In [36]:
frames = []
file_list = os.listdir(f'csvs')
collections = []
for file in file_list:
    file_path = f"csvs/{file}"
    collection_name = f"{file}".split('.csv')[0]
    collections.append(collection_name)

for x in collections:
    docs = db.collection(x).get()
    data = []
    for doc in docs:
        data.append(doc.to_dict())
    df = pd.DataFrame(data)
    frames.append(df)

In [37]:
frames[0]

,Dim1,﻿Location,Period,First Tooltip,Indicator
0,Female,United States of America,2010,80.8,Life expectancy at birth (years)
1,Male,Somalia,2019,54.01,Life expectancy at birth (years)
2,Male,Senegal,2015,65.46,Life expectancy at birth (years)
3,Male,United Republic of Tanzania,2019,65.37,Life expectancy at birth (years)
4,Both sexes,Netherlands,2019,81.79,Life expectancy at birth (years)
...,...,...,...,...,...
2192,Female,Uzbekistan,2000,68.23,Life expectancy at birth (years)
2193,Female,Seychelles,2015,76.83,Life expectancy at birth (years)
2194,Male,Costa Rica,2010,76.98,Life expectancy at birth (years)
2195,Both sexes,United Kingdom of Great Britain and Northern I...,2010,80.25,Life expectancy at birth (years)
2196,Male,Ireland,2000,73.84,Life expectancy at birth (years)

In [38]:
df = frames[0]

In [47]:
df = df.sort_values('Period')

In [43]:
df = df.sort_values('﻿Location')

In [48]:
df

,Dim1,﻿Location,Period,First Tooltip,Indicator
1576,Both sexes,Afghanistan,2000,54.99,Life expectancy at birth (years)
564,Male,Afghanistan,2000,54.57,Life expectancy at birth (years)
177,Female,Afghanistan,2000,55.42,Life expectancy at birth (years)
994,Female,Afghanistan,2010,60.3,Life expectancy at birth (years)
840,Male,Afghanistan,2010,59.6,Life expectancy at birth (years)
306,Both sexes,Afghanistan,2010,59.94,Life expectancy at birth (years)
2088,Male,Afghanistan,2015,61.04,Life expectancy at birth (years)
1934,Female,Afghanistan,2015,62.35,Life expectancy at birth (years)
1375,Both sexes,Afghanistan,2015,61.65,Life expectancy at birth (years)
449,Both sexes,Afghanistan,2019,63.21,Life expectancy at birth (years)
2085,Female,Afghanistan,2019,63.16,Life expectancy at birth (years)
834,Male,Afghanistan,2019,63.29,Life expectancy at birth (years)

In [46]:
df = df.loc[df['﻿Location'] == "Afghanistan"]

In [55]:
df.columns

Index(['Dim1', '﻿Location', 'Period', 'First Tooltip', 'Indicator'], dtype='object')

In [49]:
df = df.loc[df['Dim1'] == "Male"]

In [50]:
df

      Dim1    ﻿Location Period First Tooltip                         Indicator
564   Male  Afghanistan   2000         54.57  Life expectancy at birth (years)
840   Male  Afghanistan   2010          59.6  Life expectancy at birth (years)
2088  Male  Afghanistan   2015         61.04  Life expectancy at birth (years)
834   Male  Afghanistan   2019         63.29  Life expectancy at birth (years)